/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag class */

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* general class */

.space-between{
    display: flex;
    justify-content: space-between;
}

/* specific class */

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

main{
    width: 500px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: salmon;
}

ul li {
    padding: 1rem;
    border: solid 2px white;
    width: 100%;
}

span.barred{
    text-decoration: line-through;
}

span.x-button i:hover{
    color: aqua;
    font-size: 1.2rem;
}